[Desktop Entry]
Name=Install Archcraft (CLI)
Comment=Command Line Installer For Archcraft
Exec=alacritty --config-file /abif-master/alacritty.yml --title 'Archcraft Installer (CLI)' -e sudo /abif-master/abif
Icon=archcraft-red
Type=Application
Categories=System;
